@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Titillium Web", sans-serif;
  scrollbar-width: 0.5rem;
  scrollbar-color: #9f9f9f;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #9f9f9f;
  border-radius: 0;
}

::-webkit-scrollbar-track {
  position: absolute;
  background: #f1f1f1;
  border-radius: 0;
}

.containerHomePage{
  display: flex;
  flex-direction: column;
}
